/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  scroll-behavior: smooth;
}
body {
  padding-top: 3rem;
  color: #5a5a5a;
  background-image: url(../img/dots.png);
  
}

/* CUSTOMIZE THE projectjs
-------------------------------------------------- */

/* projectjs base class */
.projectjs {
  margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */
.container {
  position: relative;
  width:100vw;
}

.projectjs-caption {  
  bottom: 3rem;
  z-index: 10;
  color: black;
  
}

.projectjs-caption.text-left {
  position: absolute;
  left: -30px;
  width: 50%;
}

.projectjs-caption.text-right {
  position: absolute;
  right: -30px;
}
.text-head {
  margin-left: 50%;
  width: 50%;
}

/* Declare heights because of positioning of img element */
.projectjs-item {
  height: 32rem;
}
.projectjs-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.navbar-brand {
  margin-right: 30px;
}
.nav-link-icon {
  color: white;
}

.dropdown.account-item {
  padding-right: 20px;
}
.btn-primary {
  color: #026670;
  background-color: #edeae5;
  border: 3px solid #026670;
}

.btn-primary:hover, .btn-primary:active {
  color: #fff;
  background-color: #026670;
  border-color: #026670;
}
.btn-primary:focus {
  color: #fff;
  background-color: #026670;
  border-color: #026670;
  box-shadow: 0 0 0 0.2rem #026670;
}
.btn-primary:disabled {
  color: #fff;
  background-color:#026670;
  border-color: #026670;
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #026670;
  border-color: #026670;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the projectjs */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


#scroll-up {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 99;
  font-size: 40px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 0px;
  border-radius: 4px;
  transition: all 5s linear;
}
.container-content {
  margin-bottom: 50px;
}
.row-title{
  height: 70vh;
}

.img-bg {
  width: 100%;
  height: 100%;
}
.big-img {
  height: 100%;
  border-right: 1px solid #515150;
  
}

.img-sm-k {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-sm-k a {
  width: 100%;
  height: 32%;
}

.img-sm {
  width: 100%;
  height: 100%;
}

.container-pg-news {
  background-color: #eaeaea;
}
.container-xl {
  
  padding-bottom: 15px;
  padding-top: 10px;
}

.title-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  border-top: 5px solid black;
  background-color: #eaeaea;
  border-bottom: 1px solid #515150;
}

.more {
  float: right;
  margin-top:4px;
  text-decoration: none;
  color: #5a5a5a;
  font-weight: bold;
}

.footer {
  background-color: #343a40;
}





/* NEWS---------------------------------------------------------------------------------------- */
.box {
  display: flex;
  justify-content: space-between;
}
.pg-news {
  margin-top: 30px;
  height: 86vh;
}

.title-style {
  width: 100%;
  background-color: #eaeaea;
}

.content-tt {
  width: 100%;
  background-color: #eaeaea;
  height: 100%;
  
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 10px;
  
}
.img-sm-pg-news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
}
.img-sm-pg-news a {
  width: 100%;
  height: auto;
}
.img-bg-pg-news {
  margin-top: 10px;
  margin-bottom: 30px;
}
.img-bg-pg-news a {
  height: 100px;
}

.img-bg-pg-news a img {
  width: 100%;
}

.img-sm-pg-news a img {
  width: 90%;
  display: flex;
}

#exp {
  margin-left: 25px;
  border: 1px solid black;
}










































/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of projectjs content */
  .projectjs-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
